/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #000;
  font: normal 16px sans-serif;
  color: #fff;
}

header,
main,
aside {
  min-width: 600px;
  max-width: 1000px;
  margin: 0 auto;
  background: #3D3D3D;
}

header {
  padding: 40px 0 0 0;
}

main {
  padding: 20px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

main figure img {
  width: 100%;
  border: #fff 15px solid;
}

figcaption {
  margin-top: 5px;
}

aside figure {
  display: inline-block;
  width: 25%;
  padding: 20px;
}

aside figure img {
  width: 100%;
  border: #fff 3px solid;
}
