/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
	background: #fff;
	font: normal 20px Helvetica, Verdana, sans-serif;
	color: #45494d;
}

a {
	text-decoration: none;
	color: #4ca898;
}

.container,
footer {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.main-header {
	background: #3d3d3d;
	color: #fff;
}

.main-header h1 {
	font-size: 69px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.3em;
	padding: 140px 0;
	background: url(img/header-image.png) no-repeat;
	background-position: center bottom;
}

nav ul {
	font-size: 0;
	text-align: center;
	padding: 130px 0 50px 0;
}

nav li {
	display: inline-block;
	font-size: 20px;
	text-transform: uppercase;
	padding: 0 30px;
}

nav a {
	color: #fff;
}

nav a:hover,
nav a:focus {
	color: #f5dc39;
}

nav a.current {
	color: #4ca898;
}

footer {
	padding: 15px 0 50px 0;
	border-top: #d0d0d0 1px solid;
}

footer small {
	font-size: 12px;
	color: #7e8287;
}

.columns {
	margin: 90px 235px 90px 0;
}

.columns:after {
	content: "";
	display: block;
	clear: both;
}

main {
	float: left;
	padding-right: 110px;
}

aside {
	width: 235px;
	float: right;
	margin-right: -235px;
}

aside > section {
	padding: 35px 30px 30px 35px;
	background: #f6f7f8;
}

aside h2 {
	font-size: 16px;
	font-weight: bold;
	color: #384048;
	text-transform: uppercase;
	margin-bottom: 30px;
}

aside ul,
aside p {
	font-size: 14px;
	margin-bottom: 90px;
}

aside ul {
	list-style: url(img/arrow.png) inside;
}

aside li {
	margin-bottom: 5px;
}

aside a {
	
	color: #787b80;
}

aside a:hover,
aside a:focus {
	color: #50c3af;
}

aside p {
	color: #787b80;
	text-align: justify;
	line-height: 24px;
}

.post,
.post section {
	margin-bottom: 90px;
}

.post section:last-of-type {
	margin-bottom: 0;
}

.comment {
	margin-bottom: 40px;
}

.comment:last-of-type {
	margin-bottom: 0;
}

.post h1 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 30px;
}

.post h1 a {
	
	color: #45494d;
}

.post h1 a:hover,
.post h1 a:focus {
	color: #4ca898;
}

.comment header {
	margin-bottom: 30px;
}

.comment h1 {
	font-size: 20px;
	font-weight: normal;
}

.comment h1 a {
	color: #50c3af;
}

.comment img,
.comment h1 {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

.comment h1 {
	padding-left: 10px;
}

.post header {
	margin-bottom: 30px;
}

.post section h2 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
}

.post p {
	line-height: 28px;
	text-align: justify;
}

.button {
	display: block;
	width: 85px;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	border: none;
	border-radius: 15px;
	cursor: pointer;
}

.enabled {
	background: #50c3af;
}

.disabled {
	background: #d2d5da;
	cursor: default;
}

.pagination {
	font-size: 0;
}

.pagination li {
	display: inline-block;
	margin-right: 30px;
}

dl {
	margin-bottom: 10px;
}

dt {
	padding-bottom: 5px;
}

dd {
	padding-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
	display: block;
	width: 100%;
}

label {
	font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
	font-size: 15px;
	color: #9a9a9a;
	padding: 10px;
	border-radius: 5px;
	border: #9a9a9a 1px solid;
}

textarea {
	height: 140px;
	resize: vertical;
}

/* Media Queries */

/* up to 480px */
@media all and (max-width: 30em) {

	.main-header h1 {
		width: 90%;
		margin: 0 auto;
		
	}

	.main-header h1 {
		width: 90%;
		margin: 0 auto;
		font-size: 48px;
		padding: 60px 0 100px 0;
		background-size: 100%;
	}

	nav ul {
		font-size: 0;
		text-align: center;
		padding: 50px 0 20px 0;
	}

	nav li {
		display: inline-block;
		font-size: 20px;
		text-transform: uppercase;
		padding-bottom: 10px;
	}

	.columns {
		margin: 20px 0;
	}

	main {
		float: none;
		padding: 30px ;
	}

	.post,
	.post section {
		margin-bottom: 40px;
	}

	.post h1,
	.post section h2  {
		font-size: 26px;
	}

	.comment h1 {
		font-size: 18px;
	}

	aside {
		width: 100%;
		float: none;
		margin-right: 0;
		padding: 30px;
	}

	aside > section {
		margin-bottom: 30px;
	}


	aside ul,
	aside p {
		margin-bottom: 0;
	}

	footer p {
		padding-left: 10px;
	}

}

/* 480px to 600px */
@media all and (min-width: 30.001em) and (max-width: 37.5em) {

	.main-header h1 {
		width: 90%;
		margin: 0 auto;
		font-size: 54px;
		padding: 60px 0 120px 0;
		background-size: 100%;
	}

	nav ul {
		padding: 50px 0 20px 0;
	}

	.columns {
		margin: 20px 0;
	}

	main {
		float: none;
		padding: 30px ;
	}

	.post,
	.post section {
		margin-bottom: 40px;
	}

	.post h1,
	.post section h2  {
		font-size: 26px;
	}

	.comment h1 {
		font-size: 18px;
	}

	aside {
		width: 100%;
		float: none;
		margin-right: 0;
		margin-bottom: 40px;
		background: #f6f7f8;
	}

	aside:after {
		content: "";
		display: block;
		clear: both;
	}

	aside > section {
		width: 50%;
		float: left;
	}

	aside ul,
	aside p {
		margin-bottom: 0;
	}

	footer p {
		padding-left: 20px;
	}
}

/* 600px to 768px */
@media all and (min-width: 37.501em) and (max-width: 48em) {

	.main-header h1 {
		width: 70%;
		margin: 0 auto;
		font-size: 50px;
		padding: 20px 0 120px 0;
		background-size: 100%;
	}

	nav ul {
		padding: 80px 0 20px 0;
	}

	.post h1,
	.post section h2  {
		font-size: 26px;
	}

	.comment h1 {
		font-size: 18px;
	}

	main {
		padding: 20px ;
	}

	footer p {
		padding-left: 20px;
	}

}
